*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.intestazione{
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(185, 145, 0);
}

main{
margin: 80px 0px;
background-color: rgb(153, 153, 255);

}

#griglia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin: auto;
    padding: 30px;
}

.cella{
    width: calc(100%/8);
    margin: auto;
    border: 1px solid white;
    aspect-ratio: 1/1;
}

footer{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}


